<ion-content [fullscreen]="true" class="ion-padding">
  <p id="font" style="margin-top: 20px;">Inicio de Sesión</p>
  <ion-input placeholder="Correo electrónico" inputmode="email" id="form"></ion-input>
  <ion-input placeholder="Contraseña" type="password" id="form" style="margin-top: 13px;"></ion-input>
  <ion-button expand="block" id="btn" color="dark">
    <ion-router-link color="light" href="./home">INICIAR SESION</ion-router-link>
  </ion-button>
  <p id="forget">Olvidé mi contraseña</p>
  <p style="padding-top: 20px;">No estas registrado(a)? Registrate:</p>
  <ion-button expand="block" id="btn" color="dark">
    <ion-router-link color="light" href="./register">REGISTRAR</ion-router-link>
  </ion-button>
</ion-content>