<ion-content [fullscreen]="true" class="ion-padding">
  <ion-router-link href="javascript:history.back()" color="black">
    <ion-icon name="return-up-back-outline" id="back"></ion-icon>
  </ion-router-link>
  <p id="font">Registro</p>
  <ion-input placeholder="Correo electrónico" inputmode="email" id="form"></ion-input>
  <ion-input placeholder="Contraseña" type="password" id="form" style="margin-top: 13px;"></ion-input>
  <ion-button expand="block" id="btn" color="dark">
    <ion-router-link color="light" href="./registerc">SIGUIENTE</ion-router-link>
  </ion-button>
</ion-content>